:root {
    --primary-violet: #6238E2;
    --background-violet-light: #EEEBFD;
    --gray: #D5D4D5;
    --background: #2C2C2C;
}

html {
    font-size: 16px;
    font-family: "Poppins";
}

body {
    background: var(--background);
    height: 100vh;
display: flex;
padding-top: 260px;
justify-content: center;
}

* {
box-sizing: border-box;
}